
  <!-- 2 column material design layout -->
  <div fxLayout="row wrap">
    <div fxFlex>
      <div fxLayout="column" style="text-align: center">
        <div>
          <img
            src="../assets/aboutImg.jpg"
            style="max-width: 350px"
            alt=""
          />
        </div>

      </div>
    </div>
  
    <div fxFlex style="text-align: left">
      <div fxLayout="column">
        <h1 class="blue">Loan  App</h1>
        <p>
          Lorem ipsum dolor sit amet imperdiet ullamcorper metus. Aliquam in
          rhoncus magnis mollis vitae dui senectus. Adipiscing auctor accumsan
          iaculis sapien congue fringilla semper inceptos metus ad letius. Mollis
          bibendum feugiat in magna senectus pellentesque curae class. Penatibus
          viverra risus suscipit volutpat quisque. Litora maecenas velit
          vestibulum laoreet tellus facilisi elementum in blandit viverra fames.
          Porttitor eros dictumst ante vitae faucibus.
        </p>
      </div>
    </div>
  </div>